{% extends "dashboard/base.html" %}
{% load i18n %}
{% load materializecss %}
{% load staticfiles %}
{% load bootstrap_field from bootstrap3 %}

{% block title %}
  {% if church.pk %}
    {{ church.name }}
  {% else %}
    {% trans "Add new church" context "Church update page title" %}
  {% endif %}
  - {% trans "Churches" context "Dashboard church list" %} - {{ block.super }}
{% endblock %}

{% block body_class %}body-churches{% endblock %}

{% block menu_churches_class %}active{% endblock %}

{% block header_menu %}
  {% url "dashboard:church-list" as url %}
  {% include "dashboard/includes/_back-link.html" with url=url %}
{% endblock %}

{% block header_extra %}
  {% if church.pk %}
    <a class="dropdown-button right" href="#" data-activates="attribute-delete" data-constrainwidth="false">
      <svg data-src="{% static "dashboard/images/more_vert.svg" %}" height="24" width="24" />
    </a>
    <ul id="attribute-delete" class="dropdown-content">
      <li>
        <a class="modal-trigger-custom" href="#base-modal"
        data-href="{% url 'dashboard:product-attribute-delete' pk=attribute.pk %}">
          {% trans "Remove attribute" context "Attribute detail action" %}
        </a>
      </li>
    </ul>
  {% endif %}
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    <li>
      <a href="{% url 'dashboard:church-list' %}" class="breadcrumbs--ellipsed-item">
      {% trans "Churches" context "Dashboard churches list" %}
      </a>
    </li>
    <li class="back-mobile">
      <a href="{% url 'dashboard:church-list' %}">
        <svg data-src="{% static "dashboard/images/arrow_left.svg" %}" fill="#fff" width="20px" height="20px" />
      </a>
    </li>
    <li>
      <span class="breadcrumbs--ellipsed-item">
        {% if church.pk %}
          {{ church.name }}
        {% else %}
          {% trans "Add new church" context "Church form breadcrumbs" %}
        {% endif %}
      </span>
    </li>
  </ul>
{% endblock %}


{% block content %}
  <div class="row">
    <div class="col m12 l9">
      <div class="card">
        {% include 'churches/snippets/church-form.html' %}
      </div>
    </div>
    <div class="col m12 l3 help-box"></div>
  </div>
{% endblock %}
