{% extends "dashboard/base.html" %}
{% load i18n %}
{% load staticfiles %}


{% block title %}
  {{ church }} - {% trans "Churches" context "Dashboard churches list" %} - {{ block.super }}
{% endblock %}

{% block body_class %}body-churches{% endblock %}

{% block menu_churches_class %}active{% endblock %}

{% block header_menu %}
  {% url "dashboard:church-list" as url %}
  {% include "dashboard/includes/_back-link.html" with url=url %}
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    <li>
      <a href="{% url "dashboard:church-list" %}">
        {% trans "Churches" context "Dashboard churches list" %}
      </a>
    </li>
    <li class="back-mobile">
      <a href="{% url "dashboard:church-list" %}">
        <svg data-src="{% static "dashboard/images/arrow_left.svg" %}" fill="#fff" width="20px" height="20px" />
      </a>
    </li>
    <li>
      <span>
        {{ church }}
      </span>
    </li>
  </ul>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12">
      <ul class="tabs" role="tablist">
        <li role="presentation" class="tab col s4">
          <a href="#church-details" role="tab" class="active">
            <span>
              {% trans "Details" context "Church detail tab" %}
            </span>
            <svg data-src="{% static "dashboard/images/description.svg" %}" />
          </a>
        </li>
        <li role="presentation" class="tab col s4">
          <a href="#payment-history" role="tab">
            <span>
              {% trans "Admin" context "Church detail tab" %}
            </span>
            <svg data-src="{% static "dashboard/images/payment.svg" %}" />
          </a>
        </li>
        <li role="presentation" class="tab col s4">
          <a href="#order-history" role="tab">
            <span>
              {% trans "History" context "Church detail tab" %}
            </span>
            <svg data-src="{% static "dashboard/images/history.svg" %}" />
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card tab-content" id="church-details">
    <div class="card-content">
      {% include 'churches/snippets/church-form.html' %}
    </div>
  </div>

{% endblock %}
